.each-faq-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  text-align: center;
  padding: 5px;
  min-height: 100px;
}
.question-container {
  display: flex;
  justify-content: space-between;
}
li {
  margin-bottom: 10px;
  margin-right: 20px;
}
.question {
  color: black;
  font-size: 15px;
  font-weight: 500;
}
.btn {
  background-color: transparent;
  border-width: 0px;
}
.ans {
  padding: 0px;
}
